html {
    font-size: 10px;
    scroll-behavior: smooth;
    padding: 40px;
}

body {
    background: $color-dark;
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.item-widget {
    @include item-widget(40px, 40px, $color-red, 700)
}

.widget-black {
    background: $color-dark;
}

.widget-photos {
    @include item-widget(24px, 24px, $color-dark, 500)
}