html {
    font-size: 10px;
    scroll-behavior: smooth;
    padding: 40px;
}

body {
    background: $background;
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}